.difficulty{
/*  width: 30%;
  margin-left:35%;
  margin-right:35%;
  color: red; */

      position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 200px;
     height: 100px;

}
.buttons{
  /*display: flex; justify-content: center; align-items: center;*/

}
.sudoku{
/*display: flex; justify-content: center; align-items: center;*/
}
