.square{
  width: 20px;
  height:20px;
  border: 1px solid;
  display: inline-block;
  margin: 0px 0px;
  padding: 0px 0px;
}

.selected {
  background-color: grey !important;
  border: 1px solid red;
}
